.sectionTitle {
  text-align: center;
}

#projectContent {
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.resumeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdfEmbed {
  width: 100%;
  min-height: 30em;
  @media (min-width: 1200px) {
    min-height: 50em;
    width: 90%;
  }
}